.popup__button {
  position: relative;
  width: 100%;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 14px 124px 18px 125px;
  margin: 48px auto 0 auto;
  cursor: pointer;
  transition: opacity .3s;
}

.popup__button:hover {
  opacity: .8;
}

@media screen and (max-width: 768px) {
  .popup__button {
    margin-top: 45px;
    padding: 14px 82px;
  }
}
