.popup__close-button {
  position: absolute;
  right: -40px;
  top: -40px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  cursor: pointer;
  transition: opacity .3s;
}

.popup__close-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
}

.popup__close-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    right: 0;
    top: -36px;
  }
}
