.profile__add-button {
  width: 150px;
  height: 50px;
  margin: auto 0 auto 70px;
  cursor: pointer;
  background-color: inherit;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
  background-image: url('../../../images/icon-add-button.svg');
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity .3s;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 768px) {
  .profile__add-button {
    margin: 36px 0 0 0;
    width: 100%;
    background-image: url('../../../images/add-icon-small.svg');
  }
}
