.profile__description {
  max-width: 400px;
  margin: 16px 0 0 0;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .profile__description {
    max-width: 250px;
    margin-top: 14px;
    align-self: center;
    font-size: 14px;
    line-height: 17px;
  }
}
