.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-template-rows: repeat(auto-fit, 361px);
  gap: 20px 17px;
  margin: 47.25px auto 0 auto;
  justify-content: center;
}

@media screen and (max-width: 880px) {
  .card-grid {
    padding: 0 19px;
  }
}

@media screen and (max-width: 768px) {
  .card-grid {
    margin-top: 36px;
  }
}
